<div class="footer">
  <div class="social-icons">
    <img src="../../../assets/icons/fb-icon.png" alt="Facebook" />
    <img src="../../../assets/icons/instagram-icon.png" alt="Instagram" />
    <img src="../../../assets/icons/linkedin-icon.png" alt="LinkedIn" />
    <p>© 2023 TheKnife -<br />Todos os direitos reservados</p>
  </div>

  <div class="links">
    <ul>
      <li><a routerLink="/home/#aboutus">Sobre Nós</a></li>
      <li><a routerLink="/home/#contacts">Contactos</a></li>
      <li>
        <a routerLink="/Authentication/login-responsibles"
          >Tem um Restaurante?</a
        >
      </li>
      <li><a routerLink="/Restaurants/restaurants-page">Restaurantes</a></li>
      <li><a href="#">Termos de Utilização</a></li>
    </ul>
  </div>

  <div class="contact-info">
    <p>geral&#64;theknife.pt</p>
    <p>+351 253 453 565</p>
    <p>
      Rua Francisco Pereira, 908 <br />
      4564-767 Braga
    </p>
  </div>
</div>
