<div class="dashboard">
  <div class="myprodifle">
    <a routerLink="/Profiles/ClientProfile/client-editprofile">
      <h3>Perfil do Utilizador</h3>
    </a>
  </div>
  <hr />
  <div class="restaurantprofile">
    <a routerLink="/Profiles/ClientProfile/booking-history">
      <h3>Histórico de Reservas</h3>
    </a>
  </div>
  <hr />
  <div class="statisticdata">
    <a routerLink="/Profiles/ClientProfile/client-reviews">
      <h3>Histórico de Reviews</h3>
    </a>
  </div>
  <hr />
  <div class="statisticdata">
    <a routerLink="/Profiles/ClientProfile/restaurant-favourites">
      <h3>Restaurantes Favoritos</h3>
    </a>
  </div>
  <hr />
  <br />
  <div class="sair">
    <a (click)="logoutuser()">
      <button type="submit">Sair</button>
    </a>
  </div>
</div>
