<div class="dashboard">
  <div class="myprodifle">
    <a routerLink="/Profiles/RestaurantResponsibleProfile/responsible-editprofile">
      <h3>O Meu Perfil</h3>
    </a>
  </div>
  <hr>
  <div class="restaurantprofile">
    <a routerLink="/Profiles/RestaurantResponsibleProfile/restaurant-editprofile">
      <h3>Perfil do Restaurante</h3>
    </a>
  </div>
  <hr>
  <div class="statisticdata">
    <a routerLink="/Profiles/RestaurantResponsibleProfile/restaurant-graph">
      <h3>Dados Estatísticos</h3>
    </a>
  </div>
  <hr>
  <br>
  <div class="sair">
    <a (click)="logout()">
      <button type="submit">Sair</button>
    </a>
  </div>
</div>
