@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import "@fontsource/work-sans";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: "Work Sans";
}
