<app-main-nav></app-main-nav>

<img class="rectangle-icon" [src]="restaurantData.image" />

<div class="restaurant-page-card">
  <div class="category">
    <p>{{ restaurantData.category }}</p>
  </div>
  <div class="name">
    <h2 class="name">{{ restaurantData.name }}</h2>
  </div>
  <div class="location mt-5">
    <p>{{ restaurantData.location }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Mesas: {{ restaurantData.numberoftables }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Capacidade: {{ restaurantData.capacity }}</p>
  </div>
  <div class="averageprice mt-4">
    <p>Preço médio: {{ restaurantData.averageprice }}€</p>
  </div>
  <div class="openingdays">
    <p>{{ restaurantData.openingdays }}:</p>
    <p class="ms-2">
      {{ restaurantData.openinghours }} - {{ restaurantData.closinghours }}
    </p>
  </div>
  <div class="desc">
    <p>
      {{ restaurantData.desc }}
    </p>
  </div>
  <div class="reservar-botao text-center">
    <button class="reservar" (click)="goToReservation(restaurantData.id)">
      Reservar
    </button>
  </div>

  <div class="calendario">
    <br /><br />
    <ngb-datepicker
      #dp
      [(ngModel)]="selectedDate"
      [minDate]="minDate"
    ></ngb-datepicker>
  </div>
</div>
<br><br><br><br>

<h2 class="avaliacao">Avaliação</h2>
<br>

<div *ngFor="let comment of restaurantComments.slice(0, visibleComments)" class="avaliacao-card">
  <div class="info">
    <div class="username ms-3 mt-2">{{ comment.username }}</div>
    <div class="date ms-3">{{ formatDate(comment.commentdate) }}</div>
  </div>
  <div class="review">{{ comment.review }}</div>
  <div class="comment">{{ comment.comment }}</div>
</div>

<div class="reservar-botao text-center" *ngIf="restaurantComments.length > 0 && visibleComments !== 0">
  <button class="maisavaliacao" (click)="verComentarios()">Mais Avaliações</button>
</div>

<br><br><br><br>

<h2 class="avaliacao">Escrever Avaliação</h2>
<br><br>

<form #commentForm="ngForm" class="form-register" (ngSubmit)="sendComments(commentForm.value)">
  <div class="rpreview-details">
    <div class="pontuacao">
      <label style="margin-left: 11px">Pontuação</label>
      <input type="number" id="review" name="review" class="reviewpost form-control"
        required ngModel min="0" max="10" style="width: 100px;">
    </div>
    <br>
    <div class="experiencia">
      <textarea id="comment" name="comment" class="comment form-control" placeholder="Descreva a sua Experiência"
        required ngModel></textarea>
    </div>
    <br>
    <div class="reservar-botao text-center">
      <button class="maisavaliacao" id="send-comments">Escrever Avaliação</button>
    </div>
  </div>
</form>
