<app-logins-nav></app-logins-nav>

<div class="container">
  <div class="grid">
    <div class="card-container col-sm-9 col-md-7 col-lg-5">
      <div class="card1 col-sm-9 col-md-7 col-lg-5">
        <div class="card card-recover my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Recuperar a sua password</h5>
            <br />
            <form
              #existingEmailForm="ngForm"
              class="form-recover"
              (ngSubmit)="getRecoverPasswordemailResponsavel()"
            >
              <div class="inputs">
                <div class="form-label-group">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Insira o seu Email"
                    required
                    autofocus
                    [(ngModel)]="existingEmail"
                  />
                </div>
                <button
                  id="seguinte"
                  class="btn btn-lg btn-light btn-block"
                  type="submit"
                >
                  Seguinte
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
